
		<section class="top-section">
        	<div class="offset-borders">
                <div class="full-header-container" id="header-about">
                    <div class="full-header">
                        <div class="container">
                            <h1>About Us</h1>
                            <!--h3>What we stand for</h3-->
                        </div>
                    </div>
                </div>
            </div>
        </section>

		<section id="quote-section">
            <div class="container">
               	<div class="quote">
                    We strive for a perfect blend of quality and pricing in our products.
                   	Working together with our customers enables us to create beautiful and amazing things that has the power to bring positive results and satisfaction.
                </div>
            </div>
      	</section>

        <section id="about-section">
        	<div class="section-content">
                <div class="container">
                    <div class="row">
                    	<div class="col-md-6 onscroll-animate">
                        	<%= image_tag("cup_and_logo.png", :class=>"img-responsive") %>

                        </div>
                        <div class="col-md-6 onscroll-animate" data-delay="400">
                        	<article>
                            	<div class="article-header-2">
                        			<h1>The Team</h1>
                        		</div>
                                <p>
                                	Ours is a group of diverse professionals, ranging from the traditional bakers to the hotel and hospitality industry to those from IT; brought together by the common passion of creating and presenting food in a way that we ourselves have desired at various points in day to day life. We all have taken the collective leap in order to address the question of what if it were available to let's make it available.
								</p>

                                <div class="margin-20"></div>

                                <p>
									We have come a long way and have gladly found the balance that we set out to create. The acceptance of our customers and a few of their elated appreciations go to make our day and motivate us to strive harder. Thanks to that!
                               	</p>
                            </article>

                            <div class="margin-20"></div>

                            <div class="margin-70"></div>
                        </div>
                    </div>
              	</div>
          	</div>
      	</section>

        <section id="video-section" class="section-white-cover parallax-background">
            <div class="section-content">
                <div class="container onscroll-animate">
                	<div class="margin-40"></div>
                    <h2 class="heading-huge">At work</h2>
                    <div class="margin-20"></div>
                    <div class="embed-responsive embed-responsive-4by3">
 						<iframe class="embed-responsive-item" src="http://www.youtube.com/embed/OhtG_XahQco"></iframe>
					</div>
                    <div class="margin-30"></div>
                </div><!-- .container -->
            </div><!-- .section-content -->
        </section>